* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #263238;
}

body {
  background: #263238;
  color: #afaa9ec5;
  font-size: 120%;
  width: 100%;
  height: 100vh;  
  padding: 0%;
  margin: 0;
  
}

h1 {
  font-size: 5.5em;
  margin-left: auto;
  margin-right: auto;
}

.head {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
 
}

.col {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.col:hover {
  opacity: 1;
  background: #2e94e3;
  box-shadow: 0 0 30px #2e94e3;
}

.icon:hover {
  color: gold;
}

.categories {
  display: flex;
  justify-content: space-evenly;
}

.cat {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #000000;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
  background: #222d32;
}

.input {
  color: rgb(255, 255, 255);
  font-size: 22px;
  border-radius: 0px 0px 0px 0px;
  border: none;
  outline: none;
  background: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
  width: 500px;
  text-align: center;
}



.searchbar {
  display: flex;
  background: #222d32;
  height: 70px;
  width: 500px;
  margin-bottom: 70px;
  padding: 0px;
  border-radius: 35px;
  box-shadow: 0px 4px 5px #000000;
  align-self: center;
}

/* Create a container*/
.logo {
  width: 200px;
  height: 200px;
  padding: 5px;
  align-self: center;
  margin-top: 7%;
  margin-bottom: 1.5%;
  
}

/* Resize image */
.logo img {
  width: 100%;
  height: auto;
  
}

.icon {
  align-self: center;
  justify-content: center;
  margin: 10px;
}

.icon img {
  height: auto;
  width: 150px;
}

.icon h1 {
  font-size: 22px;
}

form {
  margin: 0px;
  padding: 0px;
}

li {
  font-size: 20px;
  list-style-type: none;
  padding: 5px;
  margin-bottom: 5%;
}

a:link {
  text-decoration: none;
  color: #6c6876;
}


.link:hover {
  color: gold;
}

a:visited {
  /*color: #7b787f;*/
  color: silver;
}

.dateTime {
  position: absolute;
  align-self: center;
  top: 5%;
}

.dateTime:hover {
  background: #2e94e3;
  box-shadow: 0 0 30px #2e94e3;
}

.date {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child) {
  position: relative;
  text-align: center;
  font-weight: 600;
  margin: 0 3px;
  letter-spacing: 5px;
}

.time span:last-child {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  padding: 0 5px;
}

#quote-generator {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgb(9, 28, 58), #221c0ca8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  width: 600px;
  height: 275px;
  margin: 10px;
  position: absolute;
  top: 10%;
  right: 2.5%;
}

.quote-body {
  width: 100%;
  height: 100%;
  padding: 50px 50px;
  border-radius: 25px;
  background-color: #222d32;
}

.icon-quote {
  font-size: 18px;
  align-content: center;
  color: rgb(255, 255, 255);
  height: 90px;
  overflow: auto;
}

.icon {
  margin-right: 5px;
}

.icon2 {
  margin-left: 5px;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 20px;
  color: rgb(246, 8, 8);
}

.quote {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.author {
  margin-top: 15px;
  text-align: right;
  font-size: 25px;
  font-style: italic;
  font-family: cursive;
}

hr {
  width: 100%;
  border: 1px solid rgb(145, 32, 32);
}

.quote-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 7px;
}

.next {
  outline: none;
  border: none;
  font-size: 15px;
  border-radius: 20.5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 3px;
  font-weight: bold;
  color: white;
  background-color: #455261;
}

button:hover {
  background-color: blueviolet;
}

button:active {
  background-color: aqua;
}

.quote-container:hover {
  box-shadow: 0 10px 10px rgb(99, 47, 231);
}



/* Weather Page */

.card {
  opacity: 90%;
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 496px;
  margin: 1em;
  position: absolute;
  top: 10%;
  left: 5%  
}

.search {
  display: flex;
  align-items: center; 
  justify-content: center;
 }

 input.search-bar {
  border: none;
  padding: 0.4em 1em;
  border-radius: 30px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 200%;
  
  width: 305px;
  height: 46px;
}

#weather_button {
  height: 46px;
  width: 46px;
  margin: 0.5em;
  border: none;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#weather_button:hover {
  background: gainsboro;
}

.weather-icon {
  width: 100px;
  height: 100px; 
}

.weather-icon img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  font-size: 20px;
}

.temp {
  font-size: 60px;
}

.feels_like {
  margin-left: 65%;
  position: absolute;
  margin-bottom: 10%;
}

.wind {
  position: relative;
  margin-right: 3px;
}
.humidity {
  position: absolute;
  margin-top: 10%;
  margin-left: 65%;
}


.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading::after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.city {
  margin-top: 2.5%;
  font-size: 29px;
}
